
.giblets {
  text-align:center;
  font-family:"Courier New", Courier, monospace;
  width:100%;
}

.colour-column {
    width:100%;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}
